@import "@styles/vars";

.wrapper {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.cardPerson {
	border: none;
	font-size: 1.2rem;
}

.text {
	padding-top: .5rem;
	padding-bottom: .5rem;
	h3 {
		font-size: 1.2rem;
		min-height: 50px;
	}
}

.dontWork { 
	h3 {
		margin-top: 2rem;
	}
}

.label {
	display: block;
	color: $danger;
	border: 1px solid $danger;
	background-color: rgba($color: $danger, $alpha: 0.25);
	text-align: center;
	font-weight: 600;
	padding: .5rem;
	transform: rotate(-3deg);
	top: -125px;
	position: relative;

}

@media (max-width: 991px) {
	.body {
		padding-left: 0;
		padding-right: 0;
	}
	.cardPerson {
		font-size: 1rem;
	}
}