@import "@styles/vars";

.wrapper {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.cardPerson {
	border: none;
	font-size: 1.2rem;
	
}

.text {
	padding-top: .5rem;
	padding-bottom: .5rem;
	h3 {
		font-size: 1.2rem;
		min-height: 50px;
	}
}

@media (max-width: 991px) {

}