@import "@styles/vars";

.wrapper {
	padding-top: 1rem;
	font-size: 14px;
	color: $secondary;
	line-height: 1.1em;
}

.logo {
	a {
		line-height: $height-header;
	}
	svg {
		//max-width: 103px;
		//margin: 10px 0 0 0;
	}
}
.ico {
	line-height: $height-header;
	max-width: 105px !important;
	svg {
		width: 18px;
	}
}

.phone {
	small {
		display: block;
		padding: .2rem 0 .4rem;
		color: $primary;
	}
	svg {
		width: 20px;
		fill: $primary;
		margin: -5px 5px 0 0;
	}
	a {
		font-size: 1.1rem;
		color: $primarydark;
	}
}

.company {
	color: $primary;
}

@media (min-width: 991px) and (max-width: 1200px) {
	.wrapper {
		padding-top: 1rem;
	}
}

@media  (max-width: 991px) {
	.wrapper {
		padding: .75rem 0;
	}
}

@media  (max-width: 767px) {
	.wrapper {
		padding-top: .5rem;
	}
}