@import "@styles/vars";

$price-block-height: 450px;
$price-tablet-height: calc($price-block-height - 100px);
$price-mobile-height: calc($price-block-height + 10px);

.block {
	background: $bg-light-purple;
	padding: 0;
	background: linear-gradient(0deg, rgba(215,218,229,0) 0%, rgba(215,218,229,1) 50%, rgba(215,218,229,1) 100%);
}

.cloud {
	min-height: 730px;
	background-image: url("/assets/img/cloud/cloud.png");
	background-image: -webkit-image-set(
	   url("/assets/img/cloud/cloud.webp") 1x,
	   url("/assets/img/cloud/cloud.webp") 2x
   );
}

.wrapper {
	position: relative;
	z-index: 1;
	padding-top: 4rem;
	h2 {
		margin-bottom: 2rem;
	}
}

.angel {
	text-align: left;
	position: absolute;
	width: 100%;
	z-index: 0;
	opacity: .7;
	overflow: hidden;
	margin-left: -100px;
}

.cardPrice {
	box-shadow: 0 0 10px #bad3e6;
	//border: 1px solid #FFFFFF;
	border-radius: 1.5rem;
	min-height: $price-block-height;
	&:hover {
		box-shadow: 0 0 20px $gold;
	}
}

.price {
	&:nth-child(2) {
		.cardPrice {
			min-height: calc($price-block-height + 60px);
			margin-top: -30px;
		}
	}
}

.header {
	background-color: $primary;
	border-top-left-radius: 1.5rem !important;
	border-top-right-radius: 1.5rem !important;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 1rem .5rem;
}

.text {
	text-align: center;
}

.footer {
	text-align: center;
	border: 0;
	background-color: transparent;
	padding-bottom: 1rem;
	span {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 500;
		padding: 0 .2rem .5rem .2rem;
	}
	a {
		margin-bottom: .5rem;
	}
}
@media (max-width: 1200px) {
	.text {
		font-size: 1rem;
	}
}

@media (max-width: 991px) {
	.wrapper {
		h2 {
			margin-bottom: 0;
		}
	}
	.cloud {
		min-height: auto !important;
	}
	.cardPrice {
		min-height: $price-tablet-height;
		height: 100% !important;
	}
	.price {
		&:nth-child(2) {
			.cardPrice {
				min-height: $price-tablet-height;
				margin-top: 0;
			}
		}
	}
}

@media  (max-width: 767px) {
	.angel {
		margin-left: 0px;
		opacity: .5;
		margin-top: -80px;
		span {
			margin-left: -120px !important;
		}
	}
	.slide {
		width: 80% !important;
		border-radius: 1.5rem;
		min-height: $price-mobile-height;
		&[data-swiper-slide-index] {
			margin-left: 12px;
		}
	}
	.cardPrice {
		min-height: $price-mobile-height;
	}
}