@import "@styles/vars";

.block {
	background: $bg-light-purple;
	background: linear-gradient(0deg, rgba(215,218,229,0) 0%, rgba(215,218,229,1) 50%, rgba(215,218,229,1) 100%);
	padding: 0;
}

.wrapper {
	
}