@import "@styles/vars";

.order {
	font-size: 2rem;
}

.row {
	border-bottom: 1px solid $bg-light-purple;
	padding-top: 1rem; 
	padding-bottom: 1rem; 
}

@media  (max-width: 991px) {
	.order {
		font-size: 1.2rem;
	}
}

@media  (max-width: 767px) {
	.order {
		font-size: 1rem;
	}
}