@import "@styles/vars";

/*******************
MAIN WRAPER
******************/
.wrapper {
	width: 100%;
	max-width: 1600px;
}
.wrapperRow {
	align-items: flex-start;
}

/*******************
TOPBAR
******************/
.navbarBrand {
	width: $sidebar-width-full;
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 0px 14px;
}


/*******************
LEFT SIDEBAR WRAPER
******************/


/*******************
ОСНОВНОЙ КОНТЕЙНЕР В PAGE WRAPER
******************/
.container {
	background: $lightgrey;
	padding: $pageWrapper !important;
	min-height: calc(100vh - 180px);
}

@media (min-width: 768px) and (max-width: 1200px) {


}

@media  (max-width: 767px) {

}