@import "vars";
@import "fonts";
@import "libs";

body {
	color: $secondary;
	font-weight: 400;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		border-radius: 6px;
	}
}

a {
	color: $primary;
	text-decoration: none;
	position: relative;
	&::before {
		content: "";
		bottom: 0;
		right: 0;
		position: absolute;
		width: 0%;
		height: 1px;
		background-color: $primarydark;
		transition: 0.6s;
	}
	&:hover {
		color: $primarydark;
		&:before {
			width: 100%;
			left: 0;
		}
	}
	&.bs-0 {
		&::before {
			height: 0;
		}
	}
}

h1 {
	font-size: 2.3rem;
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	padding: 2rem 0;
}
h4 {
	font-family: $font-family-sans-serif;
	button {
		font-weight: 500;
		font-size: 1.2rem !important;
	}
}


.btn {
	outline: 0 solid !important;
	outline-offset: 0px !important;
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) !important;
	&:hover {
		outline: 1px solid !important;
		outline-color: rgba(255, 255, 255, 0) !important;
		outline-offset: 15px !important;
	}
}

.btn-primary {
	color: $white;
	background-color: $main;
	font-size: 14px;
	padding: 0.75rem 2rem;
	border: 0;
	border-radius: 2rem;

	outline-color: $main !important;
	&:hover {
		color: $white;
		background-color: $secondary;
		background-size: 0;
	}
	&:focus {
		color: $white;
		background-color: $main;
	}
}

.btn-warning {
	color: $main;
	background-color: $gold;
	font-size: 16px;
	font-weight: 500;
	padding: 0.75rem 2.5rem;
	border: 0;
	border-radius: 2rem;

    outline-color: $gold !important;
	&:hover {
		color: $white;
		background-color: $main;
		background-size: 0;
	}
	&:focus {
		color: $main;
		background-color: $gold;
	}
}

.btn-outline-primary {
	color: $secondary;
	font-size: 14px;
	padding: 0.5rem 1.4rem;
	border-width: 2px;
	border-radius: 2rem;

	outline-color: $primary !important;
}

.btn-light {
	&:hover {
		outline: 0px solid !important;
	}
}

.accordion-item {
	border: 1px solid;
	border-image-slice: 0 0 1 0 !important;
	border-width: 1px;
	border-image-source: linear-gradient(90deg, 
		rgba(51,66,66,0) 0%, 
		rgba(51,66,66,.4) 35%, 
		rgba(51,66,66,.4) 65%, 
		rgba(51,66,66,0) 100%);
	transition: 0.6s;
	&:hover {
		color: $black;
		border-image-source: linear-gradient(90deg, 
			rgba(51,66,66,0) 0%, 
			rgba(51,66,66,0) 100%);
	}
}

.accordion-button {
	border-radius: .8rem !important;
	&[aria-expanded="true"] {
		background-color: $primary;
	}
	&:hover {
		background-color: $bg-light-purple;
	}
	&:focus {
		background-color: transparent;
		border: 1px solid;
		border-image-slice: 0 0 1 0 !important;
		border-width: 1px;
		border-image-source: linear-gradient(90deg, 
			rgba(51,66,66,0) 0%, 
			rgba(51,66,66,.4) 35%, 
			rgba(51,66,66,.4) 65%, 
			rgba(51,66,66,0) 100%);
	}
	&:not(.collapsed) {
		color: $black;
		background-color: $gold;
		box-shadow: none;
	}
}

.accordion-body {
	padding-bottom: .5rem;
	ul {
		padding-left: 1rem;
	}
}

// обнуляем Global style bootstrap
.nav-link,
.dropdown-item {
	padding: 0;
	background-image: none;
	background-size: 0;
}

//Задаем цвета для логотипа
svg {
	[data-fill="primary"] {
		fill: $primary;
	}
	[data-fill="bglightpurple"] {
		fill: $bg-light-purple;
	}
}
@media  (max-width: 1199px) {
	.btn-outline-primary {
		padding: .5rem .8rem;

	}
}

@media  (max-width: 991px) {
	svg {
		[data-fill="primary"] {
			fill: $main;
		}
		[data-fill="bglightpurple"] {
			fill: $primarydark;
		}
	}
}

// SWIPER
.swiper {
	padding-bottom: 10px !important;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

// YANDEX
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
	opacity: .6;
    /* Chrome 19+ & Safari 6+ */
}